.lotusTitleBar h2.lotusEllipsis {
	width: 380px;
}
.xspPagerRight {
	color: #848484;
	float: left;
}

.busyShown {
	background-image: url("Loading.gif");
	background-repeat: no-repeat;
	height: 32px;
	position: relative;
	width: 32px;
}
.busyHidden {
	display:none;
}