<ion-view view-title="{{getTitle()}}">
 
<!-- Uncomment to allow submission
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-android-send" ng-click="submit()"></button>
	</ion-nav-buttons>
-->

 <!-- TEMP ERROR MESSAGE -->
 	<ion-content scroll="false" freeze-scroll="true">
 		This application does not yet allow document edition

<!-- Example of a field to edit
		<label class="item item-input item-stacked-label">
			<span class="input-label">Title</span>
			<input type="text" ng-model="json.subject"></input>
		</label>
-->
	</ion-content>
	
</ion-view>